<html>
    <body>
        {% if not get %}
        Are you sure you want to delete {{menuname}}?
        <form method='POST' enctype='multipart/form-data' action='/restaurant/{{restid}}/{{menuid}}/delete'>
        <input type='submit' value='Delete'></br></form>
        {% endif %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <li><strong> {{messages[0]}} </li></strong>
        {% endif %}
        {% endwith %}

        {% if get %}
        <h1>menu has been deleted</h1>
        {% endif %}
        
        <a href={{url}}> Return to menu </href></a>
        <!--<a href='/restaurant'>Return to menu</href>
            -->

    </body>
</html>